.promotion-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    padding: 5px 0;

    img {
        border-radius: inherit;
    }

    & p {
        font-weight: 600;
        text-align: center;
    }

    &:hover {
        scale: 1.05;
        transition: all 0.2s linear;
    }
    &:hover p {
        transition: all 0.8s linear;
        color: rgb(26, 52, 126);
    }
}
